<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="org.edu.miu.cs.cs544.labw2d6.assignment_3.Car" scope="prototype" init-method="count"/>
    <bean id="bike" class="org.edu.miu.cs.cs544.labw2d6.assignment_3.Bike" scope="prototype" init-method="count"/>

    <bean id="game" class="org.edu.miu.cs.cs544.labw2d6.assignment_3.Game" autowire="byName" init-method="count"/>

    <bean id="test" class="org.edu.miu.cs.cs544.labw2d6.assignment_3.Test" scope="prototype" init-method="count">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="test"/>
    </bean>

</beans>


