<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="car" class="org.edu.miu.cs.cs544.labw2d6.assignment_2.Car"/>
    <bean id="bike" class="org.edu.miu.cs.cs544.labw2d6.assignment_2.Bike"/>
    <bean id="game" class="org.edu.miu.cs.cs544.labw2d6.assignment_2.Game" autowire="byName"/>

    <bean id="log" class="org.edu.miu.cs.cs544.labw2d6.aspects.Logger"/>

    <aop:config>
        <aop:pointcut id="targetMethodPointcut1" expression="execution(* org.edu.miu.cs.cs544.labw2d6.assignment_2.Car.move(..))"/>
        <aop:pointcut id="targetMethodPointcut2" expression="execution(* org.edu.miu.cs.cs544.labw2d6.assignment_2.Bike.move(..))"/>
        <aop:advisor advice-ref="log" pointcut-ref="targetMethodPointcut1"/>
        <aop:advisor advice-ref="log" pointcut-ref="targetMethodPointcut2"/>
    </aop:config>


</beans>