<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bike" class="org.edu.miu.cs.cs544.labw2d6.assignment_1.Bike"/>
    <bean id="vehicle" class="org.edu.miu.cs.cs544.labw2d6.assignment_1.Bike"/>
    <bean id="game" class="org.edu.miu.cs.cs544.labw2d6.assignment_1.Game" autowire="byName"/>

    <bean id="check" class="org.edu.miu.cs.cs544.labw2d6.aspects.GameAdvice"/>

    <aop:config>
        <aop:pointcut id="targetMethodPointcut" expression="execution(* org.edu.miu.cs.cs544.labw2d6.assignment_1.Game.play(..))"/>

        <aop:advisor advice-ref="check" pointcut-ref="targetMethodPointcut" />
    </aop:config>

</beans>